*{
    box-sizing: border-box;
}
body {
    color: rgba(255, 255, 255, 1);;
    font-family: Roboto, sans-serif;
    background-repeat: no-repeat;
    background-image:url("./images/background.png");
    background-size: cover;
}
.wrapper {
    max-width: 1025px;
    margin: auto;
}
.container {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
a:hover {
    text-decoration: none;
    color: rgba(242, 101, 34, 1);
}
.logo {
    width: 53px;
    height: 47px;
    margin-right: 8px;
    background-image: url("./images/logo 3.svg");
}
.left-side {
    display: flex;
}
.left-side:hover>.logo {
    background-image: url("./images/logo 2.svg");
}
.left-side:hover a {
    color: rgba(242, 101, 34, 1);
}
.header-bar {
    display: flex;
    flex-direction: column;
}
.first-bar {
    display: flex;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}
.second-bar {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.right-side {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 19px;
}
.phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 300px);
    grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
    text-align: center;
    margin-top: 21px;
    grid-gap: 37px 61px;
}
.pict {
   width: 300px;
   height: 220px;
}
.sub-title {
    margin-top: 20px;
}
.copyright {
    display: flex;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 15px;
    font-size: 12px;
}
.grid-block {
    display: block;
}
.grid-block:hover {
    color: rgba(242, 101, 34, 1);
}
.text3::after {
    content: "";
    border: solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    display: inline-block;
    padding: 3px;
    margin-left: 16px;
}
.overlay {
    color: white;
    background-color: rgba(242, 101, 34, 1);
    position: absolute;
    transition: max-height 0.4s;
    max-height: 0;
    width: 100%;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
.overlay-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 7px 14px 12px 16px;
}
.grid-block:hover .overlay {
    max-height: 100%;
}
.right-text {
    font-size: 14px;
    align-self:flex-end;
}
.text1 {
    font-size: 10px;
}
.text2 {
    font-size: 20px;
    margin-top: 8px;
}
.item {
    position: relative;
    height: 220px;
}